body {
    margin: 0;
    padding: 0;
}

.container {
    background: #ffff99;
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container .loginContainer {
    background: #b3a46b;
    width: 30%;
    height: 300px;
    border-radius: 30px;
    color: #ffff99;
}

.container .loginContainer .formField {
    border-radius: 15px;
    border: 0;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: #b3a46b;
}

.loginButton {
    width: 30%;
    height: 30px;
    border-radius: 15px;
    border: 0;
    transition: 0.3s;
    background: #ffff99;
    margin-top: 10px;
}

.loginButton:hover {
    background: #e2e286;
}