doctype html
html
    head 
        title QuizApp Homepage
        link(rel='stylesheet', href='../stylesheets/homepage.css')
        include includes/header
    body 
        div.container
            +header
